<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3 class="text-uppercase"> Ingresar Producto </h3>
                </div>
                <div class="card-body">
                    <form action="/edit/{{producto.id}}" method="post"  enctype="multipart/form-data">

                        <div class="input-group mt-2">
                            <label for="producto" class="input-group-text"> Nombre Producto </label>
                            <input class="form-control" type="text" producto="producto" id="name" placeholder="Ejemplo: Carne" value="{{producto.producto}}" autofocus required >
                        </div>

                        <div class="input-group mt-2">
                            <label for="ingredientes" class="input-group-text"> Ingredientes de rollo </label>
                            <input class="form-control" type="text" name="ingredientes" id="lastname" placeholder="Ejemplo: carne, lechuga" value="{{producto.ingredientes}}" obligatorio >
                        </div>

                        <div class="input-group mt-2">
                            <label for="age" class="input-group-text"> ingredientes </label>
                            <input class="form-control" type="number" name="ingredientes" id="age" placeholder="0" value="{{producto.age}}" obligatorio >
                        </div>

                        <div class="input-group mt-2">
                            <label for="observacion" class="input-group-text"> Observacion </label>
                            <input class="form-control" type="text" name="observacion" id="observacion" value="{{producto.observacion}}" placeholder="Escriba una observacion" obligatorio >
                        </div>

                        <div class="input-group mt-2">
                            <input class="form-control" type="file" name="file" id="file">
                        </div>

                        {{#if producto.imagen}}
                            <div class="input-group mt-2">
                                <img src="/uploads/{{producto.imagen}}" class="card-img-top mx-auto m-2 rounded-circle" style="width: 150px; height: 150px;display:block;">
                            </div>
                        {{/if}}

                        <div class="form-group mt-4 d-grid gap-2">
                            <button class="btn btn-success"> Actualizar </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>